.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  aling-items: center;

  > header {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    color: #60A3BC;

    > svg {
      width: 56px;
      height: 56px;
    }
  }

  > main {
    //flex-grow: 1;
    height: 303px;
    position: relative;
    margin: 16px 16px var(--welcome-nav-gap);
  }

  > footer {
    flex-shrink: 0;

    .actions {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 16px;
      padding: 16px 0;
      color: var(--welcome-text);

      svg {
        width: 36px;
        fill: var(--welcome-text);


      }


    }
  }

}

.active {
  fill: red !important;
}

.button {
  width: 100%;

  &_wrapper {
    padding: 16px 16px;
  }
}

.slide_fade_enter_active,
.slide_fade_leave_active {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
}

.slide_fade_enter_from {
  transform: translateX(100vw);
}

.slide_fade_leave_to {
  transform: translateX(-100vw);
}
