.navbar svg{
  width: 30px;
  height: 30px;
  position: relative;
  top: 2px;
}

.wrapper {
  position: relative;
  .navbar {
    position: sticky;
    top: 0;
    z-index: var(--z-index-navbar);
  }
}
